<ul>
  <li class='nav-links-item'>
    <a href='/' title='Home'>Home</a>
  </li>

  <li class='nav-links-item'>
    <a href='/memes' title='Meme List∫'>Templates</a>
  </li>

  <li class='nav-links-item'>
    <a href='/memes/community' title='Meme List∫'>Top Memes</a>
  </li>
</ul>

<ul id='nav-mobile' class='left hide-on-med-and-down'>

  <li class='nav-links-item'>
    <a href='/users/login' title='Login'>Log In</a>
  </li>

</ul>