<ul>

  <li class='nav-links-item'>
    <div class='nav-links-item-logo'>
      <a href='/' title='Home'><img src='/images/MEMETICS LOGO.png' /></a>
    </div>

  </li>

  <li class='nav-links-item'>
    <a href='/memes' title='Meme List∫'>Templates</a>
  </li>

  <li class='nav-links-item'>
    <a href='/memes/community' title='Meme List∫'>Top Memes</a>
  </li>

</ul>

<ul id='nav-mobile' class='left hide-on-med-and-down'>
  <li><form
      class='button-nav'
      id='logout-form'
      action='/users/logout'
      method='POST'
    >

      <button class='logout'>Logout</button>
    </form>
  </li>
    <li>
      <div class='nav-profile2'>
        <div><a href='/users/user-profile' title='Profile'>{{userName}}</a></div>
      </div>
    </li>
  </li>
</ul>