<nav class="nav-wrapper">
  {{! <a href="#" class="brand-logo right">MEMETICS</a> }}
  <ul class="nav-links">
    <li class="nav-links-item">
      <a href="/" title="Home"/>Home</a>
    </li>
    <li class="nav-links-item">
      <a href="link meme list" title="Meme List∫"/>Meme List</a>
    </li>
  </ul>
  
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    {{! pendiente condicional }}
    <li><a href="/users/login" title="Login">Log In/Log Out</a></li>
    <li><a class="nav-profile" href="/users/profile" title="Profile">N</a></li>
  </ul>
</nav>