{{!-- <h1>{{title}}</h1> --}}

<header class='logo-index'>
  <img id='logo' src='/images/MEMETICS LOGO.png' />
</header>

<!-- https://glidejs.com/docs/options/ -->
<div class='glide'>
  <div data-glide-el='track' class='glide__track'>
    <ul class='glide__slides'>
      {{#each fewMemes}}

        <li class='glide__slide'> <img src='{{url}}' /></li>

      {{/each}}
    </ul>
  </div>

  <div class='glide__arrows' data-glide-el='controls'>
    <button
      class='glide__arrow glide__arrow--left'
      data-glide-dir='<'
    >prev</button>
    <button
      class='glide__arrow glide__arrow--right'
      data-glide-dir='>'
    >next</button>
  </div>
  <div class='glide__bullets' data-glide-el='controls[nav]'>
    <button class='glide__bullet' data-glide-dir='=0'></button>
    <button class='glide__bullet' data-glide-dir='=1'></button>
    <button class='glide__bullet' data-glide-dir='=2'></button>
  </div>

</div>

<section class='tutorial'>
  <h1>
    Create your own meme!
  </h1>
  <div class='tutorial-item'>
    <p>Select meme image of <a href='link meme list'>Meme List</a></p>
    <img src='/images/2021-11-20.png' />
  </div>
  <div class='tutorial-item'>
    <p>Edit text and save your meme</p>
    <img src='/images/2021-11-20 (3).png' />
  </div>
  <div class='tutorial-item'>
    <p>Download and share your meme</p>
    <img src='/images/2021-11-20 (4).png' />
  </div>
</section>

{{! <img src="/public/images/Captura de pantalla 2021-11-19 a las 15.45.40.png"> }}

{{!-- <ul>
{{#each meme}}
<li>img: {{ this.img}}</li>
{{/each}}
</ul> --}}

<script src='/libs/glide/glide.min.js'></script>
<script src='/scripts/index.js'></script>