{{!-- <h1>{{title}}</h1> --}}


<!-- https://glidejs.com/docs/options/ -->
<div class="glide">
  <div data-glide-el="track" class="glide__track">
    <ul class="glide__slides">
      {{#each fewMemes}}

        <li class="glide__slide"><a href="/memes/create/{{id}}"></a><img src="{{url}}" /></li>

      {{/each}}
    </ul>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <button
      class="glide__arrow glide__arrow--left"
      data-glide-dir="<"
    >prev</button>
    <button
      class="glide__arrow glide__arrow--right"
      data-glide-dir=">"
    >next</button>
  </div>

  <div class="glide__bullets" data-glide-el="controls[nav]">

    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
    <button class="glide__bullet" data-glide-dir="=3"></button>
    <button class="glide__bullet" data-glide-dir="=4"></button>
    <button class="glide__bullet" data-glide-dir="=5"></button>
    <button class="glide__bullet" data-glide-dir="=6"></button>
    <button class="glide__bullet" data-glide-dir="=7"></button>
    <button class="glide__bullet" data-glide-dir="=8"></button>
    <button class="glide__bullet" data-glide-dir="=9"></button>
    <button class="glide__bullet" data-glide-dir="=10"></button>
    <button class="glide__bullet" data-glide-dir="=11"></button>
    <button class="glide__bullet" data-glide-dir="=12"></button>
    <button class="glide__bullet" data-glide-dir="=13"></button>
    <button class="glide__bullet" data-glide-dir="=14"></button>
    <button class="glide__bullet" data-glide-dir="=15"></button>
    <button class="glide__bullet" data-glide-dir="=16"></button>
    <button class="glide__bullet" data-glide-dir="=17"></button>
    <button class="glide__bullet" data-glide-dir="=18"></button>
    <button class="glide__bullet" data-glide-dir="=19"></button>
    <button class="glide__bullet" data-glide-dir="=20"></button>
  </div>

</div>
<div class="logo-index">
  <img src="/images/MEMETICS LOGO.png" />
</div>

<h2 class="title-memes">Create your own Meme!</h2>
<div class="mt-tutorials">
  <div class="mt-tutorial">
{{!-- <section class="tutorial">
  <div class="tutorial-item"> --}}
    <img src="/images/Captura de pantalla 2021-11-24 a las 19.48.46.png" />
    </div>
    <div class="mt-tutorial">
    <img src="/images/Captura de pantalla 2021-11-24 a las 19.49.46.png" />
    </div>
    <div class="mt-tutorial">
    <ol class="list">
      <li><p class="main-p">Select an image template from
          <a href="link meme list">Templates</a></p></li>
      <li><p class="main-p">Write text and save your meme</p></li>
      <li><p class="main-p">Download or share it!</p></li>
    </ol>
    </div>

  </div>
  </div>
</section>

{{! <img src="/public/images/Captura de pantalla 2021-11-19 a las 15.45.40.png"> }}

{{!-- <ul>
{{#each meme}}
<li>img: {{ this.img}}</li>
{{/each}}
</ul> --}}

<script src="/libs/glide/glide.min.js"></script>
<script src="/scripts/index.js"></script>