
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/libs/glide/glide.core.min.css" />
    <link rel="stylesheet" href="/libs/glide/glide.theme.min.css" />
  </head>

  <body>
    {{>topNav}}
    <main>
      {{{body}}}
    </main>
    {{>footer}}
  </body>
</html>
