<div>
  <h2>Login</h2>

  <form action='/users/login' method='POST'>

    <label for='username'>Username:</label>
    <input required type='text' name='email' placeholder='type your username' />

    <label for='email'>Email:</label>
    <input required type='email' name='email' placeholder='type your email' />

    <label for='password'>Password:</label>
    <input
      required
      type='password'
      name='password'
      placeholder='password here'
    />

    <button type='submit'>Login</button>
    <div>
      <a href='signup' class='btn marginTop'>Sign up instead</a>
    </div>

    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}

  </form>
</div>