<h1 class='title-memes'>BRAVO!</h1>
<div class='meme-results'>
  <div class='mt-boxes'>
    <div class='mt-title'><img src='{{img}}' /></div>
    <div>
      <h2>Left click to download</h2>
      <div class='button-edit'>
        <button>
          <a href='/memes/update/{{_id}}'>Edit</a>
        </button>
        <button>
          <a href='/memes/delete/{{_id}}'>Delete</a>
        </button>
        <button>
          <a href='memes'>Create New Meme</a>
        </button>
      </div>
    </div>
  </div>
</div>