<img src='{{one.url}}' />
<form action='/memes/create/{{one.id}}' method='POST'>
    {{#each numberOfBoxes}} 
    <div>
        <label for='text'>Insert text {{this}}</label>
        <input type='text' name='text' />
        <label for='width'>Insert width {{this}}</label>
        <input type='text' name='width' />
    </div>
    {{/each}}
  <button type='submit'>Create Meme</button>
</form>