<img src='{{url}}' />
<form action='/memes/create/{{id}}' method='POST'>
  <label for='text0'>Insert text0</label>
  <input type='text' name='text0' />
  <label for='text1'>Insert text1</label>
  <input type='text' name='text1' />
  <button type='submit'>Create Meme</button>
</form>