<h1 class='title-memes'>MEME TEMPLATES</h1>
<div id='mt-boxes-rap' class='inbox'>
  <div class='mt-boxes'>
    {{#each allMemes}}
      <div class='mt-box'>
        <div class='mt-title'>{{name}}</div>
        <div class='mt-img-wrap'><a href='/memes/create/{{id}}'><img
              src='{{url}}'
            /></a></div>
        {{!-- <div class="mt-caption"><a href="/memes/create/{{id}}">Add Caption</a></div> --}}
      </div>
    {{/each}}
  </div>
</div>