<img src='{{memeToBeUpdated.url}}' />
<form action='/memes/update/{{memeToBeUpdated.id}}' method='POST'>
  
    {{#each memeToBeUpdated.text}} 
        <label for='text'>Insert text</label>
        <input type='text' name='text' value={{this}} />
    {{/each}}

    <button type='submit'>Update Meme!</button>
</form>