<form action='/users/signup' method='post'>
  <label for='username'>Username:</label>
  <input required type='text' name='username' placeholder='choose a username' />

  <label for='email'>Email:</label>
  <input required type='email' name='email' placeholder='type your email' />

  <label for='password'>Password:</label>
  <input required type='password' name='password' placeholder='choose wisely' />

  <button type='submit'>Signup for our site</button>
</form>