@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  background-image: url('/images/photo-1563223566-f731efbdbab0.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  font-weight: 300;
  padding: 0;
  margin: 0;
  height: 100%;
}

button {
  text-align: center;
  display: block;
  margin: auto;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: rgba(200, 0, 0, 0.8);
  transition: all 0.2s;
}

.bin {
  height: 100px;
}

button:hover {
  background: rgba(200, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px hsl(0deg 0% 100% / 80%);
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Main */
main {
  padding: 90px 10px 45px 10px;
  color: white;
}
/* NavBar */
nav {
  align-items: center;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  /* This allow us to arrange list items in a row, without using float */
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
}

/* Create a style for the first level items */
nav > ul > li > a {
  color: rgb(88, 87, 87);
  background-color: rgb(238, 224, 97);
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

h1 {
  font-size: 1.7rem;
  text-shadow: 2px 2px 4px #000000;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.nav-links {
  background: none;
}

.nav-links-item a {
  color: white;
  background: none;
  cursor: pointer;
}

.nav-links-item img {
  display: block;
  margin: 0;
  width: 13em;
}

.nav-links-item a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.material-icons {
  color: rgba(27, 26, 26, 0.8);
  top: 3px;
  position: relative;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.textDesc {
  padding-right: 30px;
  display: flex;
  color: #000000;
  justify-content: flex-end;
  text-shadow: 1px 1px 3px #4e4e4e;
  font-size: 1.2rem;
}
.fav {
  font-size: 0.9rem;
}

.cont {
  display: inline;
}

.nav-profile,
.nav-profile2 {
  display: block;
  background: rgba(200, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 0px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 0px 0px 0px white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-profile:hover {
  background: rgba(200, 0, 0, 1);
  box-shadow: 0px 0px 10px 0px hsl(0deg 0% 100% / 80%);
}

#nav-mobile {
  display: inline-block;
}

/* Home Page */
.logo-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.logout {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#logo {
  height: 7rem;
}

.logo-index h3 {
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
}

/* horizontal scrolling*/
.glide__track {
  height: 30%;
}

.glide__track li {
  height: 20em;
  width: auto;
  overflow: hidden;
  position: relative;
}

.glide__track img {
  display: block;
  height: 20em;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
  border-radius: 8px;
}

/* Start Tutorial */
.main-p {
  text-shadow: 1px 1px 6px #2c2c2c;
}
.tutorial {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tutorial-item {
  width: 100%;
  text-align: center;
}
.tutorial-item img {
  width: 100%;
  max-width: max-content;
  display: block;
  margin: 0 auto;
}
.tutorial h2 {
  color: aliceblue;
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.tutorial-item p {
  width: 100%;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
}

.mt-tutorials {
  padding-top: 1.5%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  gap: 2em;
  justify-content: center;
  background-color: #fefefebb;
}

.mt-tutorial {
  width: 30%;
  height: 30%;
  max-width: 100%;
  min-width: 10em;
  display: block;
  justify-content: center;
  gap: 10em;
}

.mt-tutorial img {
  max-width: 90%;
  display: block;
  margin: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
}

.mt-tutorial img {
  max-width: 90%;
  display: block;
  margin: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
}

.list {
  color: #000;
  font-size: 1.6em;
  width: 100%;
}

.list a {
  color: #000;
}

/* FOOTER */
.footer-basic {
  width: auto;
  padding: 3%;
  background-color: #1b1b1b;
  color: #4b4c4d;
  position: sticky;
  top: 100vh;
}

.footer-basic .copyright {
  margin-top: 1%;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;
  margin-bottom: 0;
}

/* Meme List */
.title-memes {
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 0;
}

.mt-boxes {
  padding-top: 1.5%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  gap: 3em;
  justify-content: center;
  background-color: #fefefe5b;
  border-radius: 8px;
}

.mt-box {
  width: 26%;
  height: 20%;
  max-width: 100%;
  min-width: 10em;
  display: block;
  justify-content: center;
  gap: 10em;
}

.mt-img-wrap {
  justify-content: center;
  padding: 1em 0em;
}

.mt-boxes img {
  max-width: 90%;
  display: block;
  margin: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
}

.mt-box img {
  max-width: 90%;
  display: block;
  margin: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
}

.mt-box img:hover {
  box-shadow: 0px 0px 10px 0px hsl(0deg 0% 100% / 80%);
}

.mt-title {
  color: #000000;
  text-align: center;
  font-size: 1.2em;
  max-width: 100%;
  text-shadow: 1px 1px 3px #4e4e4e;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.mt-caption {
  max-width: 100%;
  text-align: center;
  display: block;
  margin: auto;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  transition: all 0.2s;
}

.mt-caption:hover {
  background-color: #4095c6;
  box-shadow: 0px 0px 10px 0px hsl(0deg 0% 100% / 80%);
}

/* Meme Results*/
.meme-results {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.meme-results h2 {
  color: #444444;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.likesButton {
  cursor: pointer;
  padding: 10px;
}
/* .likeButton {
  color: rgb(194, 32, 32);
} */

.button-edit {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.button-edit button {
  font-size: 1.5em;
}

.button-edit button:hover {
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px hsl(0deg 0% 100% / 80%);
}

/* Update Meme */
.meme-text {
  padding-bottom: 1em;
  color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.meme-text-size {
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.meme-text label {
  font-size: 1.5em;
}
.textForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textForm input {
  width: 50%;
}

/* Profile */
.profile {
  font-size: 2em;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile button {
  font-size: 0.6em;
}

/*log in & sign in*/
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
  border-radius: 8px;
}

.form-register h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 95%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #c51f1f;
  /* border: 1px solid #1f53c5; */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #c51f1f;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.form-register .botons:hover {
  background: rgba(200, 0, 0, 1);
  box-shadow: 0px 0px 5px 0px hsl(0deg 0% 100% / 80%);
}

/* Error */
.error {
  margin-bottom: 10em;
}

@media (max-width: 840px) {
  /* horizontal scrolling*/
  .glide__track {
    height: 30%;
  }

  .glide__track li {
    height: 14em;
    width: auto;
    overflow: hidden;
    position: relative;
  }

  .glide__track img {
    display: block;
    height: 14em;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    border-radius: 8px;
  }

  /* Start Tutorial */
  .mt-tutorials {
    padding-top: 1.5%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    gap: 2em;
    justify-content: center;
    background-color: #fefefebb;
  }

  .mt-tutorial {
    padding-top: 10px;
    width: 40%;
    height: 40%;
    max-width: 100%;
    min-width: 10em;
    display: block;
    justify-content: center;
    gap: 10em;
  }

  .mt-tutorial img {
    max-width: 90%;
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
  }

  .mt-tutorial img {
    max-width: 90%;
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
  }

  .list {
    color: #000;
    font-size: 1.4em;
  }
}

@media (max-width: 640px) {
  main {
    padding: 50px 10px 45px 10px;
    color: white;
  }

  nav {
    width: 100%;
    align-items: center;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    padding: 0px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
  }

  .nav-links-item img {
    display: block;
    margin: 0;
    width: 8em;
  }

  .nav-profile {
    width: 12px;
    height: 12px;
    font-size: 20px;
    line-height: 0px;
  }

  /* horizontal scrolling*/
  .glide__track {
    height: 30%;
  }

  .glide__track li {
    height: 12em;
    width: auto;
    overflow: hidden;
    position: relative;
  }

  .glide__track img {
    display: block;
    height: 12em;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    border-radius: 8px;
  }

  /* Start Tutorial */
  .mt-tutorials {
    padding-top: 1.5%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    gap: 3em;
    justify-content: center;
    background-color: #fefefebb;
  }

  .mt-tutorial {
    width: 60%;
    height: 60%;
    max-width: 100%;
    min-width: 10em;
    display: block;
    justify-content: center;
    gap: 10em;
  }

  .mt-tutorial img {
    max-width: 90%;
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
  }

  .mt-tutorial img {
    max-width: 90%;
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.87);
  }

  .list {
    color: #000;
    font-size: 1.4em;
  }

  .meme-text label {
    font-size: 1em;
  }
}

@media (max-width: 750px) {
  .mt-box {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .mt-box {
    width: 83%;
  }
}
